# Configuración de Cloudinary (Credenciales reales actualizadas)
VITE_CLOUDINARY_CLOUD_NAME=dnpnmhmht
VITE_CLOUDINARY_UPLOAD_PRESET=Iconos y capturas
VITE_CLOUDINARY_API_KEY=719435337158523
VITE_CLOUDINARY_API_SECRET=NTAKR4xesWwzwm74bY-TNwwp6To
